*{
    margin: 0;
    padding: 0;
}

.section1{
    background-color: #F7CAAC;
}
.section2{
    background-color: #FFE599;
}
.section3{
    background-color: #FFFF00;
}
.section4{
    background-color: #8EAADB;
}
.section5{
    background-color: #68FB61;
}
.section6{
    background-color: #DDABFF;
}
.section7{
    background-color: #FF66FF;
}
.section8{
    background-color: #00CCFF;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid black;
}