@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
}
div{
    width: 100%;
}
.section1{
    background-color: #F7CAAC;
}
.section2{
    background-color: #FFE599;
}
.section3{
    background-color: #FFFF00;
}
.section4{
    background-color: #8EAADB;
}
.section5{
    background-color: #68FB61;
}
.section6{
    background-color: #DDABFF;
}
.section7{
    background-color: #FF66FF;
}
.section8{
    background-color: #00CCFF;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    text-align: center;
}
@media (max-width: 500px){
    p{
        font-size: 12px;
    }
}