body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e; 
    color: white; 
}

/* Estilo del banner y logo */
header {
    text-align: center;
    background-color: #162447; 
    padding: 50px;
    border: 2px solid #ffffff; 
}

/* Estilo del contenido principal */
.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ffffff; 
    background-color: #1f4068; 
}

/* Estilo para la información de los miembros del grupo */
.miembros {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #ffffff; 
    padding: 10px;
    background-color: #0f3460; 
}

.miembros img {
    width: 300px; 
}

.miembros h2 {
    font-weight: bold;
    margin: 10px 0;
}

.miembros img,
.miembros p {
    margin: 10px 0;
    padding: 5px;
    color: white;
}

/* Estilo del pie de página */
footer {
    background-color: #162447; 
    color: white; 
    padding: 10px;
    text-align: left;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: smaller;
    color: lightgray; 
}

footer ul li {
    margin: 3px 0;
}

footer a {
    color: lightgray; 
    text-decoration: none;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer p {
    font-size: smaller;
    margin: auto;
}
