/*estilo de letra para todo el html*/
*{
    font-family: 'Times New Roman', Times, serif;
}
/* Estilo general del body */
body {
    margin: 0;
    background: linear-gradient(to bottom right, #1a1a2e, #3a3d8e, #6a097d); 
    color: white; 
}

/* Estilo del logo */
.logo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

/* Estilo del banner */
.banner{
    display: flex;
    padding: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(to right, #3a3d8e, #6a097d);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        margin: 0;
    }
    h3{
        text-align: left;
        margin: 0;
        font-size: 25px;
    }
}

/* Estilo del header */
header {
    text-align: center;
    background: linear-gradient(to right, #3a3d8e, #162447);
    padding: 50px;
    border: 2px solid #FBEDDE; 
    border-radius: 8px;
}

/* Estilo del contenido principal */
.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ffffff; 
    background: linear-gradient(to right, #1f4068, #1a1a2e); 
    border-radius: 8px;
}

/* Estilo para la información de los miembros del grupo */
.miembros {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #ffffff; 
    padding: 10px;
    background: linear-gradient(to right, #0f3460, #1f4068);
    border-radius: 8px;
}

.miembros img {
    width: 300px; 
}

.miembros h2 {
    font-weight: bold;
    margin: 10px 0;
    color: #FBEDDE; 
}

.miembros img,
.miembros p {
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
    color: #FBEDDE;
}

/* Estilo del pie de página */
footer {
    background: linear-gradient(to right, #162447, #1f4068); 
    color: white; 
    padding: 10px;
    text-align: left;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 30px;
    color: #FBEDDE; 
}

footer ul li {
    margin: 3px 0;
}

footer a {
    color: #FBEDDE; 
    text-decoration: none;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer p {
    font-size: 30px;
    margin: auto;
    color: #FBEDDE;
}
