*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url("../Publico/newpapr.webp");
    background-repeat: repeat;
    background-position: center;
    background-size: 700px;
    background-color: rgb(216, 188, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    background-color: rgb(251, 249, 239);
    max-width: 910px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 2rem;
}

hr{
    border: 1px solid gray;
    width: 75%;
}
.logo{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.banner{
    display: flex;
    padding: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #FBEDDE;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }
}
.contenidoNoticias{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.navElement{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 8px;
    a{
        width: 100%;
    }
}
.navButton{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 12px 8px 12px;
}
.navButton:hover{
    background-color: antiquewhite;
}

/* estilos para las noticias */
.noticia{
    background-color: white;
    max-width: 450px;
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    border-radius: 8px;
    border: 1px solid rgb(248, 243, 232);
    header{
        text-align: center;
        border-bottom: 8px solid transparent;
        padding: 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-image: linear-gradient(white, white), linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 0, 234));
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
    .imagen{
        padding: 12px;
        img{
            max-width: 500px;
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
    .descripcionNoticia{
        background-color: white;
        
        p{
            padding: 12px;
            
        }
    }
}
footer {
    color: white; 
    padding: 10px;
    text-align: left;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: black; 
}

footer ul li {
    margin: 3px 0;
}

footer a {
    text-decoration: none;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer p {
    font-size: smaller;
    margin: auto;
}